.editor-frame {
    margin-top: 1em;
    padding: 0.5em;
    border: 1px solid #aaa;
    height: 400px;
    overflow-y: scroll;
    .editor-content {
        height: 100%;
        outline: none;
    }
    ul {
        padding-left: 2em;
        li {
            list-style-type: disc;
        }
    }
    ol {
        padding-left: 2em;
        li {
            list-style-type: decimal;
        }
    }

}